<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Peliculas Prolog</title>
    </head>
    <body>
        <div class="container">
            <h1>Peliculas</h1>

            <form action="{{ url_for('results') }}" method="post" class="row g-3">
                <div class="col-md-12">
                    <label for="genre" class="form-label">Genero</label>
                    <select id="genre" class="form-control form-control-sm" name="genre">
                        <option value="null">Elige un genero</option>
                        <option value="accion">Acción</option>
                        <option value="drama">Drama</option>
                        <option value="ciencia_ficcion">Ciencia Ficción</option>
                        <option value="terror">Terror</option>
                        <option value="comedia">Comedia</option>
                        <option value="animacion">Drama</option>
                        <option value="guerra">Guerra</option>
                        <option value="romance">Romance</option>
                        <option value="thriller">Thriller</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="year" class="form-label">Año</label>
                    <input type="number" class="form-control form-control-sm" id="year" name="year">
                </div>
                <div class="col-md-12">
                    <label for="director" class="form-label">Director</label>
                    <select id="director" class="form-control form-control-sm" name="director">
                        <option value="null">Elige un director</option>
                        <option value="andrew_adamson">Andrew Adamson</option>
                        <option value="andrew_stanton">Andrew Stanton</option>
                        <option value="anthony_russo">Anthony Russo</option>
                        <option value="brad_bird">Brad Bird</option>
                        <option value="chris_buck">Chris Buck</option>
                        <option value="christopher_nolan">Christopher Nolan</option>
                        <option value="damien_chazelle">Damien Chazelle</option>
                        <option value="david_fincher">David Fincher</option>
                        <option value="francis_ford_coppola">Francis Ford Coppola</option>
                        <option value="frank_darabont">Frank Darabont</option>
                        <option value="james_cameron">James Cameron</option>
                        <option value="john_lasseter">John Lasseter</option>
                        <option value="john_mctiernan">John McTiernan</option>
                        <option value="jon_favreau">Jon Favreau</option>
                        <option value="joss_whedon">Joss Whedon</option>
                        <option value="lee_unkrich">Lee Unkrich</option>
                        <option value="martin_scorsese">Martin Scorsese</option>
                        <option value="mel_gibson">Mel Gibson</option>
                        <option value="michael_curtiz">Michael Curtiz</option>
                        <option value="nick_cassavetes">Nick Cassavetes</option>
                        <option value="quentin_tarantino">Quentin Tarantino</option>
                        <option value="ridley_scott">Ridley Scott</option>
                        <option value="robert_zemeckis">Robert Zemeckis</option>
                        <option value="roger_allers">Roger Allers</option>
                        <option value="ryan_coogler">Ryan Coogler</option>
                        <option value="steven_spielberg">Steven Spielberg</option>
                        <option value="the_wachowskis">The Wachowskis</option>
                        <option value="todd_phillips">Todd Phillips</option>
                        <option value="wes_anderson">Wes Anderson</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>